

html{
    background-color: #009778;
}

body {
    text-align: center;
    color: #3cf7fd;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Alike', serif;
    color: orchid;
    word-spacing: 10px;
    padding: 20px 20px 200px 20px;
}

div {
    
    background: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat #009778;
    background-size: cover;
    background-position: center;
}

h1 {
    padding-top: 150px;
}

/*.main-header img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin:auto; 
}*/


/*


    display: block;
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    margin: 0;*/
